<div class="body">
 <div class="container"  id="container" >
     <div class="div-1">
     <h1>Get <span id="side" >insights</span>that help your business grow.</h1>

     <p>Discover the benifits of data analytics and make better decisions regarding revenue,customer
         experience, and overall efficiency.</p>

         <div class="para-1">
         <p> <span class="inside"> 10k+ </span> <br> <span class="another">COMPANIES</span> </p>
         <p> <span class="inside"> 314 </span> <br> <span class="another">TEMPLATES</span> </p>
         <p> <span class="inside"> 12M+ </span> <br> <span class="another">QUERIES</span> </p>
         </div>
     </div> 
     
     <div class="div=2">
         <img src="https://media.istockphoto.com/photos/group-of-students-study-together-picture-id169957915">
         <div class="inside-div"></div>

</div>
</div>
</div>



