<div class="main">
    <div class="card" style="width: 18rem;">
        <img src="https://www.reliancedigital.in/medias/Vivo-Y1s-Smartphones-491996953-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxNTIxMTJ8aW1hZ2UvanBlZ3xpbWFnZXMvaGQxL2g1NC85NTkwNjA3NDEzMjc4LmpwZ3wxMjI2YmE5ODE3NTQ4NzAyNWFjNzVlY2Y2YWNlYTZiOTBiNTAzM2QxOTZmNTE3MGM4NTgxZGIyNTk2MzRmNTg4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile Phone</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" routerLink="mobile" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.reliancedigital.in/medias/Dell-3511-Laptops-491997679-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w0MjQ1OTh8aW1hZ2UvanBlZ3xpbWFnZXMvaDA0L2hkMi85NjQxNzkwNzAxNTk4LmpwZ3xlOGE2MmE4NTU0M2E3YWU2YTNiNzU1MzQ4MjkwMDQ0MTNjNGM5ODdhZjY2MjA3YTdiNDBjNTk1NGEwNzI3N2Y3" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" routerLink="Laptop" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i5.walmartimages.com/asr/f2b1292b-9219-4ff0-afa8-6d169f80abdf.d2e16807e53c29abf0ead0cb408095c1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Headphones</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" routerLink="Headphones" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <br><br>
    <div class="" style="width: 18rem;">
        <router-outlet></router-outlet>
    </div>
    
    